* {
  margin: 0;
}
body {
  box-sizing: border-box;
  padding: 0;
}
menu {
  padding-left: 0;
}
#carrito {
  padding-top: 7px;
  padding-bottom: 2px;
  color: #cfac56;
  text-align: right;
  padding-right: 4em;
  background-color: #2f2f2f;
}
#carrito i {
  color: #9b9c9e;
}

#logo {
  position: relative;
  padding-left: 10em;
  color: #edbf12;
  background-color: darkslategray;
  padding-bottom: 2.5em;
  margin-bottom: -2em;
}
#logo div {
  position: relative;
  left;
  width: 20%;
  text-align: center;
  font-size: 100%
}
#logo i {
  font-size: 2.5em;
}
#banner {
  background-image: url(imagenes/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#banner::after {
  content: "";
  clear: both;
  display: table;
}
#menu{
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0 7em;
}
#menu ul {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10em;
  padding-right: 10em;
  background-color: white;
  list-style-type: none;
}

#menu li {
  margin-right: 2.5em;
  margin-left: 2.5em;
  display: inline-block;
  text-align: center;
  vertical-align: text-top;
}

#free {
  position: relative;
  padding: 1em;
  margin: 5em 35em;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.izquierda{
  position: absolute;
  top: 50%;
  bottom: 50%;
  font-size: 2em;
  left: -15em;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 6px;
  padding-bottom: 36px;
  padding-left: 15px;
  padding-right: 15px;
}
.derecha {
  position: absolute;
  top: 50%;
  bottom: 50%;
  font-size: 2em;
  right: -15em;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 6px;
  padding-bottom: 36px;
  padding-left: 15px;
  padding-right: 15px;
}
#free::after {
  content: "";
  clear: both;
  display: table;
}
#free p {
  margin-top: 9em;
  margin-bottom: 2em;
}
#free button {
  background-color: #edbf12;
  color: black;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
#sub-banner {
  color: darkslategrey;
  padding: 3em;
  text-align: center;
  background-image: url(imagenes/sub-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#direccion {
  background-color: white;
  text-align: center;
  padding: 2em;
}
#direccion p{
  margin: 1em 0;
}
#direccion h3 {
  color: deepskyblue;
}

.amarillo { color: #edbf12; }

#cajas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #eaeaea;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
}
.check {
  position: relative;
  padding-left: 2em;
  padding-right: 2em;
}
.fa-check{
  position: absolute;
  left: 0.8em;
  top: 0.2em;
  background-color: #3e4057;
  color: #edbf12;
  padding: 2px;
}
#centro {
  padding-top: 1.5em;
}
.centro{
  top: 1.7em;
}
#read-more{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5em;
  padding-right: 7em;
  padding-left: 7em;
}
#read-more div {
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}
#read-more i {
  font-size: 5em;
  margin-bottom: 10px;
}
#read-more h2 {
  margin-top: 5px;
}
#read-more p{
  margin: 0.7em;
}
.more {
  margin-top: 0 !important;
  color: deepskyblue
}
#fondo-comentarios{background-color: #eeeeee;}
#titulo-comentarios{
  position: relative;
  padding: 2em;
}
#linea {
  position: absolute;
  bottom: 1em;
  height: 3px;
  background: linear-gradient(to right, yellow 5%, grey 95%);
}
#flechas {
  position: absolute;
  font-size: 1.3em;
  right: 4em;
  top: 2em;
  list-style-type: none;
  padding-left: 0;

}
#flechas li {
  display: inline-block;
  color: grey;
  padding: 2px 8px;
  border: 2px solid grey
}
#comentarios {
  display: grid;
  grid-template: 1fr 1fr;
  padding-left: 5em;
  background-color: #eeeeee;
}
