* {
  margin: 0;
}
body {
  box-sizing: border-box;
  padding: 0;
}
menu {
  padding-left: 0;
  padding-right: 0;
}

#carrito {
  padding-top: 7px;
  padding-bottom: 2px;
  color: #cfac56;
  text-align: right;
  padding-right: 4em;
  background-color: #2f2f2f;
}
#carrito::after{
  content: "";
  clear: both;
  display: table;
}
#carrito i {
  color: #9b9c9e;
}

#logo {
  position: relative;
  padding-left: 10em;
  color: #edbf12;
  background-color: darkslategray;
  padding-bottom: 2.5em;
  margin-bottom: -2em;
}
#logo div {
  position: relative;
  left;
  width: 20%;
  text-align: center;
  font-size: 100%
}
#logo i {
  font-size: 2.5em;
}
#banner {
  background-image: url(imagenes/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#banner::after {
  content: "";
  clear: both;
  display: table;
}
#menu{
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0 7em;
}
#menu ul {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10em;
  padding-right: 10em;
  background-color: white;
  list-style-type: none;
}

#menu li {
  margin-right: 2.5em;
  margin-left: 2.5em;
  display: inline-block;
  text-align: center;
  vertical-align: text-top;
}

#free {
  position: relative;
  padding: 1em;
  margin: 5em 25%;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
#free::after{
  content: "";
  clear: both;
  display: table;
}
.izquierda{
  position: absolute;
  top: 50%;
  bottom: 50%;
  font-size: 200%;
  left: -40%;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 6px;
  padding-bottom: 36px;
  padding-left: 15px;
  padding-right: 15px;
}
.izquierda::after{
  content: "";
  clear: both;
  display: table;
}
.derecha::after{
  content: "";
  clear: both;
  display: table;
}
.derecha {
  position: absolute;
  top: 50%;
  bottom: 50%;
  font-size: 200%;
  right: -40%;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 6px;
  padding-bottom: 36px;
  padding-left: 15px;
  padding-right: 15px;
}
#free::after {
  content: "";
  clear: both;
  display: table;
}
#free p {
  margin-top: 9em;
  margin-bottom: 2em;
}
#free button {
  background-color: #edbf12;
  color: black;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
#sub-banner {
  color: darkslategrey;
  padding: 3em;
  text-align: center;
  background-image: url(imagenes/sub-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#direccion {
  background-color: white;
  text-align: center;
  padding: 2em;
}
#direccion p{
  margin: 1em 0;
}
#direccion h3 {
  color: deepskyblue;
}

.amarillo { color: #edbf12; }

#cajas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #eaeaea;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
}
.check {
  position: relative;
  padding-left: 2em;
  padding-right: 2em;
}
.fa-check{
  position: absolute;
  left: 0.8em;
  top: 0.2em;
  background-color: #3e4057;
  color: #edbf12;
  padding: 2px;
}
#centro {
  padding-top: 1.5em;
}
.centro{
  top: 1.7em;
}
#read-more{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5em;
  padding-right: 7em;
  padding-left: 7em;
}
#read-more div {
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}
#read-more i {
  font-size: 5em;
  margin-bottom: 10px;
}
#read-more h2 {
  margin-top: 5px;
}
#read-more p{
  margin: 0.7em;
}
.more {
  margin-top: 0 !important;
  color: deepskyblue
}
#fondo-comentarios{background-color: #eeeeee;}
#titulo-comentarios{
  position: relative;
  padding: 2em;
  padding-left: 5em;
  padding-right: 5em;
}
#linea {
  margin-top: 1em;
  height: 3px;
  background: grey;
}
#line2 {
  width: 2em;
  height: 3px;
  background: yellow;
  z-index: 3;
}
#flechas {
  position: absolute;
  font-size: 1.3em;
  right: 4em;
  top: 2em;
  list-style-type: none;
  padding-left: 0;

}
#flechas li {
  display: inline-block;
  color: grey;
  padding: 2px 8px;
  border: 2px solid grey
}
#comentarios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 1.5em;
  background-color: #eeeeee;
}
.comentario {
  margin: 0 1em;
}
.comentario-texto {
  position: relative;
  padding: 3em 4em;
  background-color: white;
  margin-bottom: 2em;
}
.comilla{
  position: absolute;
  left: 0;
  top: 1.2em;
  height: 1em;
  width: 1em;
  font-size: 2.5em;
  background-color: darkslategray;
  color: white;
  text-align: center;
}
.triangulo{
  position: absolute;
  bottom: -1.6em;
  left: 1.3em;
  transform: rotate(450deg);
  width: 0;
  height: 0;
  border-right: 18px solid transparent;
  border-top: 18px solid transparent;
  border-left: 18px solid white;
  border-bottom: 18px solid white;
}
#imagenes {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 0.5em;
  padding-left: 5em;
  padding-right: 5em;
}
#contain{
  margin: 1em 0;
  overflow-x: auto;
  white-space: nowrap
}
#contain img {
  width: 45em;
  height: 22.5em
}
#imagen-boton {
  padding: 10px;
  background-color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2em 9em;
  background-color: darkslategrey;
  color: white;
}
#footer h4 {
  color: #e9eae2;
  margin-bottom: 1em;
}
#footer p {
 color: #585858;
}
