* {
  margin: 0;
}
body {
  box-sizing: border-box;
  padding: 0;
}
menu {
  padding-left: 0;
}
#carrito {
  padding-top: 7px;
  padding-bottom: 2px;
  color: #cfac56;
  text-align: right;
  padding-right: 4em;
  background-color: #2f2f2f;
}
#carrito i {
  color: #9b9c9e;
}

#logo {
  position: relative;
  padding-left: 10em;
  color: #edbf12;
  background-color: darkslategray;
  padding-bottom: 2.5em;
  margin-bottom: -2em;
}
#logo div {
  position: relative;
  left;
  width: 20%;
  text-align: center;
  font-size: 100%
}
#logo i {
  font-size: 2.5em;
}
#banner {
  background-image: url(imagenes/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#banner::after {
  content: "";
  clear: both;
  display: table;
}
#menu{
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 0 7em;
}
#menu ul {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10em;
  padding-right: 10em;
  background-color: white;
  list-style-type: none;
}

#menu li {
  margin-right: 2.5em;
  margin-left: 2.5em;
  display: inline-block;
  text-align: center;
  vertical-align: text-top;
}

#free {
  padding: 1em;
  margin: 5em 35em;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
#free::after {
  content: "";
  clear: both;
  display: table;
}
#free p {
  margin-top: 9em;
  margin-bottom: 2em;
}
#free span {
  background-color: yellow;
  color: black;
  padding: 15px;
}
#sub-banner {
  color: darkslategrey;
  padding: 3em;
  text-align: center;
  background-image: url(imagenes/sub-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#direccion {
  background-color: white;
  text-align: center;
}
#direccion p{
  margin: 1em 0;
}
#direccion h3 {
  color: deepskyblue;
}

.amarillo { color: #edbf12; }

#cajas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #eaeaea;
}
.fa-check {
  display: inline-block;
}
